# General
.DS_Store
*.swp
*.log

# Build outputs
/.build
/Packages
DerivedData/
/Nameplate.app

# Release artifacts
Nameplate-*.zip

# Xcode workspace/user data
xcuserdata/
.swiftpm/

# Debug symbols
*.dSYM
Nameplate.zip
Nameplate.dmg
Nameplate-*.dmg
Nameplate-Linux-*.tar.gz
Nameplate-Windows-*.zip
